modules = ["python-base-3.13"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 36291738

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python src/main.py"

[[workflows.workflow]]
name = "Test"
author = 36291738

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m pytest tests/"
