certifi==2025.4.26
charset-normalizer==3.4.2
docopt==0.6.2
ffmpeg-python==0.2.0
future==1.0.0
idna==3.10
mutagen==1.47.0
natsort==8.4.0
numpy==2.2.6
opencv-python==4.11.0.86
pillow==11.2.1
pipreqs==0.4.13
platformdirs==4.3.8
psutil==7.0.0
pycdlib==1.14.0
pyzbar==0.1.9
requests==2.32.3
slugify==0.0.1
python-slugify>=8.0.0
urllib3==2.4.0
yarg==0.1.10
